### Machine Learning - Activties [https://www.oreilly.com/library/view/machine-learning-pocket/9781492047537/]

ASK A QUESTION Classification Supervised Learning Question: Classify whether an individual survies the Titanic ship catastrophe based on individual and trip characteristics.  (transform features into a label)

In [2]:
# import tools and libraries
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import (ensemble, preprocessing,tree)
from sklearn.metrics import (auc, confusion_matrix, roc_auc_score, roc_curve)
from sklearn.model_selection import (train_test_split, StratifiedKFold)
from yellowbrick.classifier import (ConfusionMatrix, ROCAUC)
from yellowbrick.model_selection import (LearningCurve)

In [3]:
# GATHER DATA
url = ("http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls")
df = pd.read_excel(url)
orig_df = df

In [5]:
# CLEAN DATA - Standardize, Outliers(check min/max), Missing Data(check for NaN)
import pandas_profiling 
pandas_profiling.ProfileReport(df)
df.shape

(1309, 14)

In [6]:
# profile
df.describe().iloc[:, :2]

            pclass     survived
count  1309.000000  1309.000000
mean      2.294882     0.381971
std       0.837836     0.486055
min       1.000000     0.000000
25%       2.000000     0.000000
50%       3.000000     0.000000
75%       3.000000     1.000000
max       3.000000     1.000000

In [9]:
# missing data 
# conclusions: age (interpolate values), cabin, boat, body all going to be dropped -LEAKY - 
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [11]:
df.isnull().mean() * 100

pclass        0.000000
survived      0.000000
name          0.000000
sex           0.000000
age          20.091673
sibsp         0.000000
parch         0.000000
ticket        0.000000
fare          0.076394
cabin        77.463713
embarked      0.152788
boat         62.872422
body         90.756303
home.dest    43.086325
dtype: float64

In [13]:
# inspect some specific data
# decide on strategy to replace or deal with missing data  
# a. Use S the most common to  
# b. drop them -- One possible strategy is to drop columns with no variance or signal or perfect or very high positive or negative correlation
# c. use pandas to create dummy columns with all 0s 
df.sex.value_counts(dropna=False)

male      843
female    466
Name: sex, dtype: int64

In [14]:
df.embarked.value_counts(dropna=False)

S      914
C      270
Q      123
NaN      2
Name: embarked, dtype: int64

In [15]:
## CREATE FEATURES 
name = df.name
name.head(3)

0     Allen, Miss. Elisabeth Walton
1    Allison, Master. Hudson Trevor
2      Allison, Miss. Helen Loraine
Name: name, dtype: object

In [16]:
df = df.drop(
    columns=[
        "name",
        "ticket",
        "home.dest",
        "boat",
        "body",
        "cabin"
    ])

df = pd.get_dummies(df)
df.columns

Index(['pclass', 'survived', 'age', 'sibsp', 'parch', 'fare', 'sex_female',
       'sex_male', 'embarked_C', 'embarked_Q', 'embarked_S'],
      dtype='object')

In [18]:
df = df.drop(columns="sex_male")
# OR df = pd.get_dummies(df, drop_first=True)
df.columns

Index(['pclass', 'survived', 'age', 'sibsp', 'parch', 'fare', 'sex_female',
       'embarked_C', 'embarked_Q', 'embarked_S'],
      dtype='object')

In [19]:
y = df.survived
X = df.drop(columns="survived")

In [3]:
## SAMPLE DATA - pull out 30% 
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=42)
#not working NameError: name 'model_selection' is not defined

NameError: name 'model_selection' is not defined